.top {
  @extend .flex_column_center;
  width: 750px;
  height: 100vh;
  margin: auto;
  @include sp {
    width: 98vw;
  }

  @at-root {
    #{&}_main_visual {
      text-align: center;
      @at-root {
        & img {
          @include sp {
            width: 250px;
          }
        }
      }
    }
    #{&}_main_ttl {
      text-align: center;
      font-size: $f_size_pc_3xl;
      font-weight: bold;
      @include sp {
        font-size: $f_size_sp_xl;
      }
    }
    #{&}_desc {
      font-size: $f_size_pc_l;
      text-align: center;
      margin-bottom: $paragraph_pc_mb_l;
      @include sp {
        font-size: $f_size_sp_m;
      }
    }
    #{&}_cta {
      @extend .flex_row_center;
      @at-root {
        #{&}_login_btn {
          margin: 0px 30px;
          @at-root {
            & a {
              @extend .rounded_corners_btn;
              background-color: $login_btn_color;
              width: 150px;
              font-size: $f_size_pc_m;
              @extend .text_shadow;
              @include sp {
                width: 120px;
              }
            }
          }
        }
        #{&}_register_btn {
          margin: 0px 30px;
          @at-root {
            & a {
              @extend .rounded_corners_btn;
              background-color: $register_btn_color;
              width: 150px;
              font-size: $f_size_pc_m;
              @extend .text_shadow;
              @include sp {
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
}