<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>
  <body>
    <% if content_for? :side_menu %>
      <div id="side_mounted">
        <%= yield :side_menu %>
      </div>
    <% end %>
    <div class="wrap">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
