<section class="top">
  <div class="top_main_wrap">
    <h1 class="top_main_ttl">NOLABO</h1>
    <div class="top_main_visual">
      <%= image_tag 'top/main_img.png', alt: '', class: 'top_main_visual_img' %>
    </div>
    <p class="top_desc">
      気の合うゲーム仲間を見つけよう！！<br>
      NOLABOは、一緒にゲームをプレイする人を見つけられるアプリです。
    </p>
    <div class="top_cta">
      <div class="top_cta_register_btn">
        <%= link_to new_user_registration_path do %>
          <span>登録</span>
        <% end %>
      </div>
      <div class="top_cta_login_btn">
        <%= link_to new_user_session_path do %>
          <span>ログイン</span>
        <% end %>
      </div>
    </div>
  </div>
  <section class="top_information">
    <h2 class="top_information_ttl">インフォメーション</h2>
    <section class="top_information_item">
      <h3 class="top_information_item_ttl">
        ・バージョン1.0をリリース!
      </h3>
      <p class="top_information_item_content">
        2021/1/19にバージョン1.0をリリース!<br>
        バージョン1.0ではAPEX Legendsのみ募集可能。随時アップデート中！！
      </p>
    </section>
  </section>
</section>