.recruitings_search {
  @extend .right_content_box;
  @at-root {
    & .your_section {
      @extend .common_card_layout;
      @extend .common_card_inner;
      @extend .flex_row;
      justify-content: space-between;
      border-radius: 10px;
      background-color: $recruiting_card_color;
      @include sp {
        display: block;
      }
      @at-root {
        #{&}_ttl {
          @extend .roundish_font_family;
          font-size: $f_size_pc_l;
          margin-bottom: $box_pc_mb_s;
          @include sp {
            margin-bottom: $box_sp_mb_s;
            font-size: $f_size_sp_l;
          }
        }
      }
    }
    & .your_applying_recruiting_status {
      text-align: center;
      padding: 5px;
      & .status_approve { 
        display: inline-block;
        padding: 3px;
        border-radius: 3px;
        background: $emerald;
      }
      & .status_unapprove {
        display: inline-block;
        padding: 3px;
        border-radius: 3px;
        background: $gray;
      }
    }
    & .your_recruiting {
      width: 45%;
      @include sp {
        width: 100%;
        margin-bottom: $box_sp_mb_m;
      }
      @at-root {
        #{&}_new_btn {
          display: block;
          width: 60%;
          padding: 10px;
          font-size: 18px;
          text-align: center;
          background: $orange;
          border-radius: 5px;
          margin: auto;
          &:hover {
            opacity: 0.7;
          }
        }
        #{&}_card {
          @extend .flex_row;
          flex-wrap: wrap;
          background-color: $azure_blue;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid $white;
          @include sp {
            display: block;
          }
          @at-root {
            #{&}_link {
              &:hover {
                display: block;
                opacity: 0.7;
              }
            }
          }
        }
        #{&}_left {
          width: 35%;
          @include sp {
            width: 100%;
          }
          @at-root {
            #{&}_icon {
              width: 80px;
              margin: auto;
              padding: 10px;
              border-radius: 50%;
              background-color: $white;
            }
            #{&}_name {
              font-size: $f_size_pc_s;
              text-align: center;
              @at-root {
                #{&}_sub {
                  font-size: $f_size_pc_xs;
                }
              }
            }
          }
        }
        #{&}_right {
          width: 60%;
          @include sp {
            width: 100%;
            height: auto;
          }
          @at-root {
            #{&}_table {
              width: 100%;
              height: 100%;
              & td {
                width: 50%;
              }
              & th {
                width: 50%;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    #{&}_box {
      @extend .common_card_layout;
      @extend .common_card_inner;
      border-radius: 10px;
      background-color: $recruiting_card_color;
    }
    #{&}_form {
      margin-bottom: $box_pc_mb_s;
      @at-root {
        #{&}_fields_wrap {
          @extend .flex_row_space_ar;
          @include sp {
            display: block;
          }
        }
        #{&}_field {
          @extend .base_form_field;
          @include sp {
            margin-bottom: $box_sp_mb_s;
          }
        }
        #{&}_select {
          @extend .base_form_select;
        }
        #{&}_select_label {
          @extend .base_form_select_label;
          color: $white;
        }
        #{&}_actions {
          @extend .base_form_actions;
          margin-top: 20px;
        }
        #{&}_ttl {
          @extend .roundish_font_family;
          font-size: $f_size_pc_m;
          margin-bottom: $box_pc_mb_s;
          @include sp {
            margin-bottom: $box_sp_mb_s;
            font-size: $f_size_sp_m;
          }
        }
      }
    }
    #{&}_results {
      @include sp {
        width: 100%;
      }
      @at-root {
        #{&}_ttl {
          @extend .roundish_font_family;
          font-size: $f_size_pc_m;
          margin-bottom: $box_pc_mb_s;
          @include sp {
            margin-bottom: $box_sp_mb_s;
            font-size: $f_size_sp_m;
          }
        }
        #{&}_list {
          @extend .flex_row;
          flex-wrap: wrap;
          @include sp {
            display: block;
          }
        }
        #{&}_card {
          @extend .flex_row;
          flex-wrap: wrap;
          background-color: $azure_blue;
          padding: 10px;
          margin-bottom: $box_pc_mb_s;
          border-radius: 10px;
          border: 1px solid $white;
          @include sp {
            display: block;
          }
          @at-root {
            #{&}_link {
              width: 45%;
              display: block;
              @include sp {
                width: 100%;
              }
              &:hover {
                opacity: 0.7;
              }
              &:nth-child(odd) {
                margin-right: 10%;
                @include sp {
                  margin-right: 0%;
                }
              }
            }
          }
        }
        #{&}_left {
          width: 35%;
          @include sp {
            width: 100%;
          }
          @at-root {
            #{&}_icon {
              width: 80px;
              margin: auto;
              padding: 10px;
              border-radius: 50%;
              background-color: $white;
            }
            #{&}_name {
              font-size: $f_size_pc_s;
              text-align: center;
              @at-root {
                #{&}_sub {
                  font-size: $f_size_pc_xs;
                }
              }
            }
          }
        }
        #{&}_right {
          width: 60%;
          @include sp {
            width: 100%;
            height: auto;
          }
          @at-root {
            #{&}_table {
              width: 100%;
              height: 100%;
              & td {
                width: 50%;
              }
              & th {
                width: 50%;
                font-weight: normal;
              }
            }
          }
        }
        #{&}_bottom {
          width: 100%;
          padding-top: 10px;
          margin-top: 10px;
          border-top: 1px solid $white;
          @at-root {
            #{&}_ttl {
              margin-bottom: 5px;
              font-size: $f_size_pc_s;
              @include sp {
                font-size: $f_size_sp_s;
              }
            }
            #{&}_content {
              font-size: $f_size_pc_s;
              @include sp {
                font-size: $f_size_sp_s;
              }
            }
          }
        }
      }
    }
    #{&}_paginate {
      @at-root {
        & .pagination {
          @extend .flex_row_center;
        }
        & .page, & .next, & .prev, & .last, & .first {
          display: block;
          margin: 0px 10px;
          @include sp {
            margin: 0px 5px;
            font-size: $f_size_pc_xs;
          }
        }
        & a {
          text-decoration: underline;
        }
      }     
    }
  }
}